.header {
   position: sticky;
   top: 0;
   z-index: 50;
   height: var(--header);
   background-color: var(--color-background);

   .header__head {
      height: var(--header-head);
   }

   .header__main-cta {
      &:hover {
         text-decoration: none;
      }
   }
}