.header {
   position: sticky;
   top: 0;
   z-index: 50;
   height: var(--header);
   background-color: var(--color-background);

   .header__head {
      height: var(--header-head);
   }

   .header__logo {
      height: var(--space-5);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
   }

   .header__main-cta {
      &:hover {
         text-decoration: none;
      }
   }
}