
.code-snippet-header {
   border-radius: var(--radius-3) var(--space-2) 0px 0px;
   border: 1px solid var(--gray-6);
   background: var(--gray-3);
   color: var(--normal);
   overflow-x: clip;
   font-size: var(--font-size-2);
   position: relative;
   font-style: normal;
   font-weight: 500;
   line-height: var(--space-4);
   height: var(--space-7);
   text-overflow: ellipsis;
   white-space: nowrap;
}

.code-snippet {
   position: relative;
   border-radius: var(--radius-3);

   div[data-snippet-id] {
      &:not(:first-of-type) {
         display: none;
      }
   }

   .code-snippet-header ~ div[data-snippet-id] {
      pre {
         border-top-left-radius: 0;
         border-top-right-radius: 0;
         border-top: 0;
         margin-top: 0;
      }
   }

   pre {
      cursor: text;
      overflow-x: auto;
      line-height: calc(20px * var(--scaling));
      border-radius: var(--radius-3);
      font-size: var(--font-size-2);
      margin-block: var(--space-6);
      padding: var(--space-3) var(--space-3) var(--space-3) var(--space-4);
      border: 1px solid var(--gray-6);
      font-size: var(--font-size-1);
      font-weight: 500;
      position: relative;
  
      --shiki-color-text: #000;
      --shiki-background: var(--gray-2);
      --shiki-token-constant: var(--accent-indicator);
      --shiki-token-function: var(--accent-indicator);
      --shiki-token-string-expression: var(--accent-indicator);
      --shiki-token-string: var(--accent-indicator);
      --shiki-token-comment: #94a4ad;
      --shiki-token-keyword: var(--accent-indicator);
      --shiki-token-parameter: #d6deeb;
      --shiki-token-punctuation: #c792e9;
      --shiki-token-link: #79b8ff;
  
      code {
        span {
          span:global(.line-indicator) {
            color: var(--gray-10);
            margin-right: var(--space-4);
            user-select: none;
          }
        }
      }
   }
}
