
.code-snippet-header {
   border-radius: var(--radius-3) var(--space-2) 0px 0px;
   border: 1px solid var(--gray-3);
   background: var(--gray-1);
   color: var(--normal);
   padding-right: var(--space-6);
   display: flex;
   overflow-x: clip;
   font-size: var(--font-size-2);
   position: relative;
   font-style: normal;
   font-weight: 500;
   line-height: var(--space-4);
   height: var(--space-7);
   text-overflow: ellipsis;
   white-space: nowrap;
   letter-spacing: var(--tracking-default);
  
   button {
      &.code-snippet-header__copy {
         top: 50%;
         transform: translateY(-50%);
         right: var(--space-3);
      }

      &:not(.code-snippet-header__copy) {
         position: relative;
         padding-block: var(--space-3);
         padding-inline: var(--space-2);

         &:first-child {
            padding-left: var(--space-3);
         }
      }

      &:hover,
      &[data-active="true"] {
         color: var(--strong);
      }
   }

   .code-snippet-header__highlighter {
      position: absolute;
      bottom: -1px;
      height: 1px;
      border-radius: var(--radius-6);
      transition: transform 0.2s ease-out, left 0.2s ease-out;
      background-color: var(--accent-indicator);
   }
}

.code-snippet {
   position: relative;
   border-radius: var(--radius-3);

   div[data-snippet-id] {
      &:not(:first-of-type) {
         display: none;
      }
   }

   .code-snippet-header ~ div[data-snippet-id] {
      pre {
         border-top-left-radius: 0;
         border-top-right-radius: 0;
         border-top: 0;
         margin-top: 0;
      }
   }

   pre {
      cursor: text;
      overflow-x: auto;
      letter-spacing: var(--tracking-default);
      line-height: calc(20px * var(--scaling));
      border-radius: var(--radius-3);
      font-size: var(--font-size-2);
      margin-block: var(--space-6);
      padding: var(--space-3) var(--space-3) var(--space-3) var(--space-4);
      border: 1px solid var(--gray-4);
      font-size: var(--font-size-1);
      font-weight: 500;
      position: relative;
  
      --shiki-color-text: #000;
      --shiki-background: var(--gray-2);
      --shiki-token-constant: #55B5DB;
      --shiki-token-function: #55B5DB;
      --shiki-token-string-expression: #55B5DB;
      --shiki-token-string: #edc38d;
      --shiki-token-comment: #94a4ad;
      --shiki-token-keyword: #E6CD69;
      --shiki-token-parameter: #d6deeb;
      --shiki-token-punctuation: #c792e9;
      --shiki-token-link: #79b8ff;
  
      code {
        span {
          span:global(.line-indicator) {
            color: var(--gray-10);
            margin-right: var(--space-4);
            user-select: none;
          }
        }
      }
   }
}

.code-snippet-header__copy {
   position: absolute;
}