.sidebar {
   top: var(--header);
   height: var(--sidebar);
   overflow: auto;
   padding-bottom: var(--space-6);
   border-right: 1px solid var(--gray-5);
   position: sticky;
   width: 320px;
   display: none;

   @media screen and (min-width: 768px) {
      display: block;
   }
}

.sidebar__item {
   line-height: var(--line-height-2);
   border-radius: var(--radius-3);
   color: var(--gray-10);
   width: calc(100% + var(--space-3));

   &:hover {
      color: var(--gray-12);
      text-decoration: none;
   }

   &[data-active='true'] {
      background-color: var(--gray-3);
      color: var(--gray-12);
   }
}

.sidebar__title {
   color: var(--gray-5);
   font-weight: 500;
   border-width: 1px;
   border-color: var(--gray-5);
   position: relative;
}

.sidebar__item--indicator {
   left: var(--space-4);
   top: 0;
   width: 1px;
   height: 100%;
   left: -20px;
   position: absolute;
   border-radius: var(--rounded-6);
   background-color: var(--accent-indicator);

   &[data-active="false"]{
      visibility: hidden;
      opacity: 0;
   }
}

.sidebar__descendants-line {
   left: 0;
   top: 0;
   width: 1px;
   border-radius: var(--rounded-6);
   background-color: var(--gray-3);
}

.sidebar__item--toggle {
   position: absolute;
   right: 2px;
   top: 50%;
   transform: translateY(-50%);

   &:hover {
      border-color: var(--gray-7);

      svg {
         color: var(--gray-12)
      }
   }

   &[data-collapsed="false"] {
      svg {
         transform: rotate(90deg);
      }
   }
   
   svg {
      color: currentColor;
      width: var(--space-4);
      height: var(--space-4);
   }
}

.sidebar__title--mono {
   color: var(--gray-5);
   font-weight: 500;
   font-size: 0.7em;
   letter-spacing: 0.04em;
   position: relative;
   font-family: var(--font-geist-mono);
   font-weight: 600;
   text-transform: uppercase;
   color: var(--gray-12);
}

.sidebar__divider {
   border-bottom-width: 1px;
   border-style: solid;
   border-color: var(--gray-5);
}