.theme-switcher__wrapper {
  border: 1px solid var(--gray-5);
  max-width: max-content;
  border-radius: var(--radius-6);
  background: var(--gray-2);
  padding: var(--space-1) calc(var(--space-1) - 1px);
  height: var(--space-6);

  .theme-switcher__button {
    aspect-ratio: 1;
    padding: 0;
    color: var(--gray-9);
    border-radius: var(--radius-5);
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 1px;
    }

    &:not(:hover) {
      background-color: transparent;
    }

    &:hover {
      color: var(--strong);
      background-color: var(--gray-4);
    }

    &[data-active='true'] {
      border: 1px solid var(--gray-6);
      background-color: var(--gray-4);
      color: var(--strong);
    }
  }
}
