.toc {
   ol {
      border-left: 1px solid var(--gray-4);
      color: var(--normal);
      position: relative;
      padding-bottom: var(--space-1);
      padding-left: 0;

      li {
         position: relative;
         line-height: 1.2;

         p {
            display: flex;
            margin: 0;
         }

         a {
            white-space: nowrap;
            padding-block: var(--space-1);
            display: inline-block;
            overflow-x: hidden;
            width: 100%;
            text-overflow: ellipsis;

            &:hover,
            &[data-active="true"] {
               color: var(--strong) !important;
            }
            
            &[data-active="true"] {
               &:after {
                  background-color: var(--accent-indicator);
               }
            }

            &[data-active="true"] {
               &::before {
                  content: '';
                  border-radius: 0;
                  width: 1px;
                  position: absolute;
                  z-index: 0;
                  top: var(--space-1);
                  left: -1px;
                  height: var(--space-5);
                  background-color: var(--accent-indicator);
               }
            }
         }
      }

      & ol {
         border-left: none;
         padding-bottom: 0;
         position: unset;

         ol {
            display: none;
         }

         li {
            a {
               padding-bottom: var(--space-1);
               padding-top: var(--space-1);

               &:before {
                  display: none;
               }

               &::after {
                  content: '';
                  border-radius: 0;
                  width: 1px;
                  position: absolute;
                  z-index: 0;
                  height: var(--space-5);
                  bottom: 0;
                  background-color: transparent;
                  left: calc((var(--space-3) + 1px) * -1);
               }
            }
         }
      }
   }
}
