.toc {
   position: sticky;
   top: 128px;
   width: 260px;

   ol {
      border-left: 1px solid var(--gray-4);
      color: var(--normal);
      position: relative;

      li {
         position: relative;
         line-height: 1.2;

         a {
            white-space: nowrap;
            padding-top: var(--space-3);
            display: inline-block;

            &:hover,
            &[data-active="true"] {
               color: var(--strong);
               
               &:after {
                  background-color: var(--accent-indicator);
               }

               &::before {
                  content: '';
                  border-radius: 0;
                  width: 1px;
                  position: absolute;
                  z-index: 0;
                  top: 0;
                  left: -1px;
                  height: var(--space-6);
                  background-image: linear-gradient(180deg, var(--gray-4) 0%, rgba(var(--accent-indicator-r), var(--accent-indicator-g), var(--accent-indicator-b), 0.98) 100%);
               }
            }

            &:before {
               content: '';
               display: block;
               position: absolute;
               z-index: 2;
               width: var(--space-4);
               height: var(--space-4);
               border-radius: var(--radius-6);
               background-color: var(--color-background);
               top: calc(var(--space-3) * 1.1);
               left: calc((var(--space-4) + 1px) * -1 / 2);
               transform: translateY(0px);
            }

         }

         &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 3;
            width: var(--space-3);
            height: var(--space-3);
            border-radius: var(--radius-6);
            background-color: var(--color-background);
            left: calc((var(--space-3) + 1px) * -1 / 2);
            top: calc(var(--space-3) * 1.25);
         }

         &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 4;
            width: var(--space-1);
            height: var(--space-1);
            border-radius: var(--radius-6);
            background-color: var(--gray-4);
            left: calc((var(--space-1) + 1px) * -1 / 2);
            top: calc(var(--space-4) * 1.2);
         }
         
         &:hover,
         &:has(a[data-active="true"]) {
            & > p > a {
               color: var(--strong);
            }

            &:before {
               background-color: rgba(var(--accent-indicator-r), var(--accent-indicator-g), var(--accent-indicator-b), 0.16);
               box-shadow: 0px 1px 2px 0px rgba(9, 9, 11, 0.04);
            }
            
            &:after {
               box-shadow: 0px 0px 2px 0px rgba(var(--accent-indicator-r), var(--accent-indicator-g), var(--accent-indicator-b), 0.72);
               background-color: var(--accent-indicator);
            }
         }
      }

      & ol {
         border-left: none;
         padding-top: var(--space-2);
         padding-bottom: 0;
         position: unset;

         ol {
            display: none;
         }

         li {
            &:after,
            &:before {
               display: none;
               bottom: var(--space-1);
            }

            &:first-child {
               a {
                  padding-top: 0;
               }
            }

            &:last-child {
               a {
                  padding-bottom: 0;
               }
            }

            a {
               padding-block: 4px;

               &:before {
                  display: none;
               }

               &::after {
                  transform: translateX(calc((var(--space-3) + 1px) * -1));
                  content: '';
                  border-radius: 0;
                  width: 1px;
                  position: absolute;
                  z-index: 0;
                  height: 100%;
                  bottom: 0;
                  background-color: transparent;
                  background-image: none;
                  left: 0;
               }
            }
         }
      }
   }
}

.back-to-top {
   background-color: var(--gray-2);
   color: var(--gray-10);
   transition: opacity 0.2s, background-color 0.2s;
   letter-spacing: 0.0185em;
   letter-spacing: var(--tracking-default);
   cursor: pointer;
   font-weight: 500;
   padding: var(--space-1) var(--space-2) var(--space-1) var(--space-3);
   font-size: 0.8125rem;
   line-height: 0.8;

   &:hover {
      background-color: var(--gray-3);

      div > svg {
         border: 1px solid var(--gray-7);
      }
   }

   div > svg {
      transition: border-color 0.2s;
      width: var(--space-4);
      height: var(--space-4);
      border-radius: var(--radius-full);
      border: 1px solid var(--gray-4);
      background-color: var(--gray-1);
      box-shadow :0px 1px 2px 0px rgba(9,9,11,0.04);

      svg {
         width: var(--space-4);
         height: var(--space-4);
         fill: var(--gray-10);
      }
   }
}