@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --strong: #18181b;
  --normal: #71717a;
  --light: #f4f4f5;
  --dark: #09090b;
}

body {
  span[data-type="tooltip"] {
    opacity: 0;
    transition: opacity 0.06s linear;
    z-index: 999;

    > * {
      margin-right: 12px;
    }
  }

  span[data-type="tooltip-content"] {
    font-size: 13px;
    color: var(--normal);
    background-color: #FAFAFA;
    padding: 2px 6px;
    border-radius: 99px;
    border: 1px solid theme('colors.info.border');
    box-shadow: 0px 1px 2px 0px rgba(9, 9, 11, 0.04);
    line-height: 16px;
    pointer-events: none;
    user-select: none;
  }

  span[data-type="tooltip-success"] {
    position: absolute;
    bottom: 1px;
    height: 21px;
    font-size: 13px;
    color: #34D399;
    border-radius: 99px;
    border: 1px solid rgba(4, 120, 87, 0.88);
    background: #022C22;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.64);
    padding: 2px 6px;
    border-radius: 99px;
    line-height: 16px;
    pointer-events: none;
    user-select: none;
  }

  /* zoom image modal */
  div[data-rmiz-modal-content] {
    img {
      min-width: 70vw;
    }
  }
}
