:root {
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --strong: var(--gray-12);
  --normal: var(--gray-11);
  
  .radix-themes {
    --header: calc(92px * var(--scaling));
    --header-head: calc(52px * var(--scaling));
    --header-pages-nav: calc(40px * var(--scaling));
    --sidebar: calc(100svh - var(--header));
    --default-font-family: var(--font-geist-sans);
    --container-4: 1280px;
    --color-background: var(--gray-1);
    --code-font-family: 'Geist Mono';
  }

  body {
    margin: 0;
  }

  @media (max-width: 1023px) {
    a:active,
    a:focus {
      outline: none;
    }
  }
}

html.dark body .radix-themes {
  --color-background: #09090B;
}

html.dark body {

  div[data-rmiz-modal-overlay="visible"] {
    background: var(--gray-2);
  }
}
