@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --strong: #18181b;
  --normal: #71717a;
}
