.body {
  max-width: 616px;
  width: 100%;
  margin: 0 auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--strong);
    line-height: 1.375;
    letter-spacing: -0.025em;
    font-weight: 600;
    position: relative;

    b {
      font-weight: 600;
    }
  }

  h1 {
    font-size: 32px;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 24px;
    margin-top: 4em;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 18px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    position: relative;

    &[data-type='stepper-checkpoint'] {
      span {
        font-family: 'Geist Mono';
        color: var(--brand-color);
        border-radius: 99px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 2px;
        position: absolute;
        left: -36px;
        letter-spacing: theme('letterSpacing.tighter-3');
        font-weight: 500;
        text-shadow: 0px 0px 1px
          rgba(
            var(--brand-color-r),
            var(--brand-color-g),
            var(--brand-color-b),
            0.56
          );
        line-height: 16px;
        font-size: 13px;
        width: 24px;
        height: 24px;
        border: 1px solid
          rgba(
            var(--brand-color-r),
            var(--brand-color-g),
            var(--brand-color-b),
            0.2
          );
        background: rgba(
          var(--brand-color-r),
          var(--brand-color-g),
          var(--brand-color-b),
          0.12
        );
        box-shadow: 0px 1px 2px 0px rgba(9, 9, 11, 0.04);
        z-index: 1;

        &:before {
          content: '';
          display: block;
          position: absolute;
          z-index: 0;
          left: 10.5px;
          width: 1px;
          height: var(--step-height);
          top: calc(var(--step-title-height) + 2px);
          background-image: linear-gradient(
            180deg,
            rgba(
              var(--brand-color-r),
              var(--brand-color-g),
              var(--brand-color-b),
              0.04
            ),
            rgba(
              var(--brand-color-r),
              var(--brand-color-g),
              var(--brand-color-b),
              0.32
            )
          );
        }
      }
    }
  }

  h4,
  h5,
  h6 {
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  p {
    color: var(--strong);
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
  }

  code[data-type="inline-code"] {
    font-weight: 500;
    padding-inline: 4px;
    font-size: 13px;
    color: var(--strong);
    background: rgba(212, 212, 216, 0.2);
    border: 1px solid rgba(212, 212, 216, 0.56);
    border-radius: 4px;
    letter-spacing: -0.26px;
  }

  p + p {
    margin-top: 16px;
  }

  ul,
  ol {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 20px;

    li {
      margin-bottom: 8px;
    }
  }

  // ol {
  //   list-style: decimal;
  // }
  // ul {
  //   list-style: initial;
  // }

  a {
    color: var(--strong);
    border-bottom: 1px solid theme('colors.brand');
    font-weight: 500;

    &:hover {
      border-bottom-width: 2px;
    }
  }

  picture {
    background-color: #fafafa;
    padding: 4px;
    display: block;
    max-width: max-content;
    margin-block: 24px;
    border-radius: 8px;
    border: 1px solid rgba(212, 212, 216, 0.56);
    z-index: 1;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(9, 9, 11, 0.04);

    video,
    img {
      border-radius: 4px;
      position: relative;
    }

    img {
      cursor: zoom-in;
    }
  }

  :modal {
    outline: none;
    background-color: #fafafa;
    padding: 4px;
    display: block;
    max-width: max-content;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid rgba(212, 212, 216, 0.56);
    z-index: 1;
    box-shadow: 0px 1px 2px 0px rgba(9, 9, 11, 0.04);
  }

  dialog {
    display: block;
    width: 80vw;
    max-width: 1024px;
    margin-block: 24px;
    border-radius: 8px;
    border: 1px solid rgba(212, 212, 216, 0.56);
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(9, 9, 11, 0.04);
  }

  p[data-type='caption'] {
    padding-top: 16px;
    padding-bottom: 8px;
    margin-top: -32px;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    z-index: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid rgba(212, 212, 216, 0.56);
    background: rgba(212, 212, 216, 0.2);
    color: var(--strong);
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.26px;
  }

  div[data-type='callout'] {
    border-radius: 8px;
    padding: 12px;
    border-style: solid;
    border-width: 1px;
    box-shadow: theme('boxShadow.soft');
    margin-block: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    & p {
      font-size: 13px;
      margin-bottom: 6px;
      line-height: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &[callout-type='warning'] {
      border-color: theme('colors.warning.border');
      background: theme('colors.warning.light');

      & > p:first-child {
        color: theme('colors.warning.DEFAULT');
        font-weight: 500;
      }
    }

    &[callout-type='danger'] {
      border-color: theme('colors.danger.border');
      background: theme('colors.danger.light');

      & > p:first-child {
        color: theme('colors.danger.DEFAULT');
        font-weight: 500;
      }
    }

    &[callout-type='check'] {
      border-color: theme('colors.check.border');
      background: theme('colors.check.light');

      & > p:first-child {
        color: theme('colors.check.DEFAULT');
        font-weight: 500;
      }

      & > p {
        color: #07311d;
      }
    }

    &[callout-type='note'] {
      border-color: theme('colors.note.border');
      background: theme('colors.note.light');

      & > p:first-child {
        color: theme('colors.note.DEFAULT');
        font-weight: 500;
      }
    }

    &[callout-type='info'] {
      border-color: theme('colors.info.border');
      background: theme('colors.info.light');

      & > p:first-child {
        color: theme('colors.info.DEFAULT');
        font-weight: 500;
      }
    }
  }

  header[data-type="code-snippet-header"] {
    border-radius: 8px 8px 0px 0px;
    border-block: 1px solid rgba(212, 212, 216, 0.56);
    border-inline: 1px solid rgba(212, 212, 216, 0.56);
    background: rgba(212, 212, 216, 0.20);
    color: var(--normal);
    padding-right: 40px;
    display: flex;
    overflow-x: clip;
    font-size: 13px;
    position: relative;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -0.26px;
    
    button {
      transition: color 0.3s ease-out;
      
      &:not([data-type="copy-snippet"]) {
        position: relative;
        padding-block: 12px;
        padding-inline: 8px;

        &:first-child {
          padding-left: 12px;
        }
      }

      &:hover,
      &[data-active="true"] {
        color: var(--strong);
      }
    }
  }

  div[data-snippet-id] {
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(9, 9, 11, 0.05);
  }

  div[data-active-snippet] {
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(9, 9, 11, 0.05);

    div[data-snippet-id] {
      box-shadow: unset;
      position: unset;

      &:not(:first-of-type) {
        display: none;
      }
    }
  }

  header[data-type="code-snippet-header"] + div[data-snippet-id],
  div[data-active-snippet] > div[data-snippet-id] {
    pre {
      margin-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 0;
    }
  }

  pre {
    cursor: text;
    overflow-x: auto;
    letter-spacing: -0.26px;
    line-height: 20px;
    border-radius: 8px;
    font-size: 12px;
    margin-block: 24px;
    padding: 16px 16px 16px 24px;
    border: 1px solid rgba(212, 212, 216, 0.56);
    font-weight: 500;
    position: relative;

    --shiki-color-text: #000;
    --shiki-background: #FAFAFA;
    --shiki-token-constant: #55B5DB;
    --shiki-token-function: #55B5DB;
    --shiki-token-string-expression: #55B5DB;
    --shiki-token-string: #edc38d;
    --shiki-token-comment: #94a4ad;
    --shiki-token-keyword: #E6CD69;
    --shiki-token-parameter: #d6deeb;
    --shiki-token-punctuation: #c792e9;
    --shiki-token-link: #79b8ff;

    code {
      span {
        span:global(.line-indicator) {
          color: #A1A1AA;
          margin-right: 16px;
        }
      }
    }
  }

  button[data-type="copy-snippet"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    background: none;
    border: none;
    color: var(--strong);
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid rgba(212, 212, 216, 0.56);
    background: #FFF;
    width: 20px;
    height: 20px;
    box-shadow: 0px 1px 2px 0px rgba(9, 9, 11, 0.04);
    transition: background-color 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    text-align: left;

    tbody {
      tr:has(th) {
        th {
          color: var(--strong);
          background: rgba(212, 212, 216, 0.2);
          padding: 8px 12px;
          border-block: 1px solid rgba(212, 212, 216, 0.56);
        }
      }
      
      tr:has(th:first-child) {
        th:first-child {
          border-left: 1px solid rgba(212, 212, 216, 0.56);
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
      }
      
      tr:has(th:last-child) {
        th:last-child {
          border-right: 1px solid rgba(212, 212, 216, 0.56);
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }

      tr {
        &:not(:last-child) {
          border-bottom: 1px solid rgba(212, 212, 216, 0.56);
        }
      }

      th {
        vertical-align: baseline;
        line-height: 16px;
        font-size: 13px;
        font-weight: 500;

        p {
          line-height: 16px;
          font-size: 13px;
          font-weight: 500;
        }
      }

      td {
        vertical-align: baseline;
        line-height: 16px;
        font-size: 13px;
        font-weight: 500;
        color: var(--normal);
        padding: 8px 12px;
        border-bottom: 1px solid rgba(212, 212, 216, 0.56);
        
        p {
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          color: var(--normal);
        }
      }
    }
  }
}
