.article {
  min-height: calc(100svh - var(--header) - var(--space-9));
}

.body {
  width: 100%;

  @media screen and (min-width: 1024px) {
    max-width: calc(716px * var(--scaling));
    margin: 0 auto;
    padding-left: var(--space-9);
  }

  @media screen and (min-width: 1280px) {
    padding-right: var(--space-9);
  }

  hr {
    border-color: var(--gray-6);
    border-bottom-width: 0;
    border-style: solid;
  }

  & > p {
    color: var(--gray-11);
    font-size: var(--font-size-3);
    line-height: var(--line-height-5);
  }

  code[data-type="inline-code"] {
    font-family: var(--font-geist-mono);
  }

  p + p {
    margin-top: var(--space-4);
  }

  ul,
  ol {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4);
    padding-left: calc(20px * var(--scaling));

    li {
      &::marker {
        color: var(--gray-11);
      }

      margin-bottom: var(--space-2);
    }
  }

  picture {
    background-color: var(--gray-2);
    padding: var(--space-1);
    display: flex;
    max-width: max-content;
    margin-block: var(--space-6);
    border-radius: var(--radius-3);
    border: 1px solid var(--gray-5);
    z-index: 1;
    position: relative;
    box-shadow: 0px 1px 2px 0px var(--gray-6);

    video,
    img {
      border-radius: var(--radius-1);
      position: relative;
      max-width: 100%;
      height: auto;
    }

    img {
      cursor: zoom-in;
    }
  }

  :modal {
    outline: none;
    background-color: var(--gray-6);
    padding: var(--space-1);
    display: block;
    max-width: max-content;
    margin-bottom: var(--space-6);
    border-radius: var(--radius-3);
    border: 1px solid var(--gray-7);
    z-index: 1;
    box-shadow: 0px 1px 2px 0px var(--gray-6);
  }

  p[data-type='caption'] {
    padding-top: var(--space-4);
    padding-bottom: var(--space-2);
    margin-top: -32px;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    z-index: 0;
    border-bottom-left-radius: var(--radius-3);
    border-bottom-right-radius: var(--radius-3);
    border: 1px solid var(--gray-5);
    background: rgba(212, 212, 216, 0.2);
    color: var(--strong);
    font-size: var(--font-size-2);
    font-weight: 500;
    line-height: var(--space-4);
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    
    p {
      font-size: var(--font-size-2);
      line-height: 1.2;
    }
    
    a {
      font-size: var(--font-size-2);
      line-height: 1.2;
    }
  }
}

.article-footer {
  @media screen and (min-width: 1024px) {
    max-width: calc(716px * var(--scaling));
    margin-inline: auto;
    width: 100%;
  }
}
