.heading {
   position: relative;
   scroll-margin-top: calc(var(--header) + var(--space-8));
   color: var(--strong);
   line-height: 1.375;
   font-weight: 600;
   position: relative;
   
   @media screen and (min-width: 768px) {
      scroll-margin-top: calc(var(--header) + var(--space-6));
   }

   b {
     font-weight: 600;
   }

   a {
      text-decoration: none;

      & > svg {
         vertical-align: middle;
         visibility: hidden;
      }

      &:hover {
         & > svg {
            visibility: visible;
         }
      }

      &:focus {
         & > svg {
            visibility: visible;
         }
      }

      &:focus-visible {
         & > svg {
            visibility: visible;
         }
      }
   }
}