.search-dialog__content {
   height: 500px;
   max-height: 80vh;
   overflow: hidden !important;
   padding: 0 !important;
   top: -5vh;

   .search-dialog__empty-state {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }

   .search-dialog-content__footer {
      background-color: var(--gray-4);
   }
   
   .search-dialog__results {
      overflow-y: auto;
      background-color: var(--color-background);
      
      .search-dialog-content__result {
         scroll-margin-block: var(--space-2);
      }

      .search-dialog-content__result-link {
         display: block;
         margin: 0;
         border-width: 1px;
         border-style: solid;
         border-color: transparent;

         &[data-selected="true"] {
            text-decoration: underline;
            border-color: var(--gray-5);
            background-color: var(--gray-3);
         }

         p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
         }
      }
   }
}